/* Pagina */
body {
  font-family: Arial, sans-serif;
  background-color: #9ccdfa;
  margin: 0;
  display: flex;
  justify-content: center; 
  align-items: center;    
  height: 100vh;     
}

/* Lista de Tareas */
.contenido {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #f4f6e9;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Título */
.contenido h1 {
  text-align: center;
  color: #1a8ae5;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Input y botón Agregar */
input[type="text"] {
  color:black;
  width: 70%;
  padding: 3px;
  font-size: 16px;
  border: 1px solid #bdbaba;
  border-radius: 4px;
  background-color: #bfd7ed;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  margin-bottom: 5px;
  margin-left: 5px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #0056b3;
}

/* Listado de tareas */
ul {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

li {
  color:black;
  background-color: #bce6ff;
  padding: 12px;
  margin-bottom: 5px;
  border-radius: 8px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}